:root {
  text-shadow: 0 0 6px rgba(#fff, .65);
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
}

.layout-main {
  width: 100vw;
  height:100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  &.mobile {
    align-items: initial;
    img {
      -webkit-touch-callout: default;
    }
  }
}
