:root {
  font-size: 16px;
  text-shadow: 0 0 6px rgba(#fff, .65);
  @media screen and (max-width: 1440px) {
    font-size: 14px;
    text-shadow: 0 0 5px rgba(#fff, .65);;
  }
}

.layout-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}