// @property --rotate {
//   syntax: "<angle>";
//   initial-value: 132deg;
//   inherits: false;
// }

$usenameScope: 100px;

.someone-editor-root {
  width: 80vw;
  max-width: 1200px;
  min-width: 300px;
  height: 70vh;
  min-height: 120px;
  padding: 18px 8px;
  padding-bottom: 10vh;
  word-break: break-all;

  &.message-mode {
    .someone-editor {
      padding-left: $usenameScope;
    }
  }
}

.succes-write {
  color: #a4ef00;
  // text-shadow: 0px 0px 5px rgba(#07ef00, .65);
}
.primary-write {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
}
.error-write {
  color: #f33900;
  text-shadow: 0px 0px 5px rgba(#f33900, 0.65);
}
.placeholder-write {
  color: #666;
  text-shadow: 0px 0px 5px rgba(#777, 0.65);
}
.important-write {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
  font-weight: 600;
}
.code-write {
  color: #a4ef00;
  font-weight: 600;
}
.someone {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
  font-weight: 600;
  min-width: $usenameScope;
  margin-left: -$usenameScope;
  display: inline-block;
}
.user {
  display: inline-block;
  font-weight: 600;
  min-width:$usenameScope;
  margin-left: -$usenameScope;
}
.someone-link {
  text-decoration: underline;
  color: #f5f924;
  text-shadow: 0px 0px 5px rgba(#f5f924, 0.65);
  &:hover {
    color: rgba(#f5f924, .6)
  }
}
