// @property --rotate {
//   syntax: "<angle>";
//   initial-value: 132deg;
//   inherits: false;
// }
@import '../Mobile/mixin.scss';

$usenameScope: 100px;

.someone-editor-root {
  width: 80vw;
  max-width: 1200px;
  min-width: 300px;
  height: 70vh;
  min-height: 120px;
  padding: 18px 8px;
  padding-bottom: 10vh;
  word-break: break-all;

  &.message-mode {
    .someone-editor {
      padding-left: $usenameScope;
    }
  }

    *::selection {
      background-color: #fff;
      color: #000;
      text-shadow: 0 0 3px rgba(0,0,0,.4);
    }
}

.succes-write {
  color: #a4ef00;
  // text-shadow: 0px 0px 5px rgba(#07ef00, .65);
}
.primary-write {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
}
.error-write {
  color: #f33900;
  text-shadow: 0px 0px 5px rgba(#f33900, 0.65);
}
.placeholder-write {
  color: #666;
  text-shadow: 0px 0px 5px rgba(#777, 0.65);
  &.history {
    margin-left: -100px;
  }
}
.important-write {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
  font-weight: 600;
}
.input-code-write {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
  font-weight: 600;
  animation: fadenum 2s linear infinite;
}

.hidden-image-write {
  display: block;
  position: absolute;
  left: 0;
  z-index: 2;
  opacity: 0.8;
  width: 100%;
  height: 24em;
}

.tips-dot-write {
  background-color: #fff;
  color: #000;
  font-weight: bolder;
  text-shadow: 0 0 6px rgba(0,0,0,.2)
}

.tips-text-write {
  background-color: #3677ff;
  color: #000;
  font-weight: bolder;
  text-shadow: 0 0 6px rgba(0,0,0,.2)
}
.code-write {
  color: #a4ef00;
  font-weight: 600;
  &.md {
    padding: 2px 4px;
    border-radius: 4px;
    background: #2c4000;
    text-shadow: none;
  }
}
.code-pre {
  position: absolute;
  background: #3a4b6e;
  left: 94px;
  right: 0;
  opacity: .2;
  user-select: none;
  z-index: -1;
}
.someone {
  color: #3677ff;
  text-shadow: 0px 0px 5px rgba(#3677ff, 0.65);
  font-weight: 600;
  min-width: $usenameScope;
  margin-left: -$usenameScope;
  display: inline-block;
}
.user {
  display: inline-block;
  font-weight: 600;
  min-width:$usenameScope;
  margin-left: -$usenameScope;
}

@keyframes fadenum {
  0% {opacity: 1;}
  50% {opacity: 0.3;}
  100% {opacity: 1;}
}

@include mobile {
  .someone-editor-root {
    width: 100%;
    height: calc(100vh - 104rem);
    height: calc(100dvh - 104rem);
    box-sizing: border-box;
    padding: 0;
    padding-top: 24rem;
    font-size: 14rem;

    &.message-mode {
      .someone-editor {
        padding-left: 18px;
      }
    }

    .someone-editor {
      width: 100%;
      padding: 0 18rem;
      height: auto;
      max-height: 100%;
      transition: transform .3s;
      -webkit-overflow-scrolling: touch;
    }
  }

  .placeholder-write {
    &.history {
      margin-left: 0;
    }
  }

  .code-write {
    &.md {
      padding: 2rem 4rem;
      border-radius: 4rem;
    }
  }
  .code-pre {
    left: 0;
    background-color: transparent;
  }

  .someone {
    margin-top: 8rem;
    margin-left: 0;
  }
  .user {
    margin-left: 0;
    margin-top: 8rem;
  }
}

body, html {
  overscroll-behavior: none;
}