.succes-write {
  color: #a4ef00;
}
.primary-write {
  color: #3241e0;
  text-shadow: 0px 0px 5px rgba(#3241e0, .65);
}
.error-write {
  color: #f34b00;
  text-shadow: 0px 0px 5px rgba(#f34b00, .65);
}
.important-write {
  color: #a4ef00;
  font-weight: 600;
}