.someone-editor {
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-right: 28px;
  padding-left: 4px;
  width: calc(100% + 20px);
  box-sizing: border-box;
  white-space:pre-wrap;

  &.cursor {
    &::after {
      content: '▉';
      animation: blink .4s infinite steps(1);
    }
  }

  &.focus {
    .someone-editor-inputer--cursor {
      opacity: 1;
    }
  }

  @keyframes blink{
    50% {
      opacity: 0;
    }
  }

  &--container {
    overflow: hidden;
    height: 100%;
  }

  &-inputer {
    caret-color: transparent;
    outline: none;
    border: none;

    &--view {
      position: relative;
      min-height: 1em;
      overflow: hidden;
    }

    &--cursor {
      position: relative;
      width: 0px;
      background-color: #fff;
      opacity: 0;

      &::after {
        content: '▉';
        animation: blink 1s infinite steps(1);
        position: absolute;
        left: 0;
      }
    }
  }
}