@mixin cursor {
  &::before {
    content: '﻿';
  }

  &::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #a4ef00;
    box-shadow: 0 0 8px #a4ef00;
  }
}

.someone-editor {
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-right: 28px;
  padding-left: 4px;
  width: calc(100% + 20px);
  box-sizing: border-box;
  white-space:pre-wrap;
  caret-color: transparent;

  &.cursor {
    @include cursor;

    &::after {
      transform: translateY(10%);
      animation: blink .4s infinite steps(1);
    }
  }

  &.focus {
    .someone-editor-inputer--cursor {
      opacity: 1;
    }
  }

  @keyframes blink{
    50% {
      opacity: 0;
    }
  }

  &--container {
    overflow: hidden;
    height: 100%;
  }

  &-inputer {
    display: inline;
    caret-color: transparent;
    outline: none;
    border: none;

    &--view {
      position: relative;
      min-height: 1em;
      overflow: hidden;
    }

    &--suffix {
      opacity: .3;
      text-shadow: none;
    }

    &--cursor {
      width: 0px;
      background-color: #fff;
      opacity: 0;
      position: relative;

      @include cursor;

      &::after {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        background-color: #fff;
        animation: blink 1s infinite steps(1);
      }
    }
  }
}