.error-page {
  width: 100%;
  height:100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000a8;
  &-container {
    min-width: 40vw;
    padding-bottom: 20dvh;
    text-shadow: none;
    font-family: '宋体', serif;

    &__message {
      display: inline-block;
      padding: 8px 12px;
      font-size: 18px;
      background-color: #fff;
      color: #0000a8;
    }

    &__info {
      font-size: 16px;
    }

    &__txt {
      &::before {
        content: '*';
        margin-right: 4px;
      }
    }
  }

  &.mobile {
    .error-page {
      &-container {
        &__message {
          font-size: 16rem;
        }
        &__info {
          font-size: 16rem;
        }
    
        &__txt {
          font-size: 12rem;
          &::before {
            margin-right: 4rem;
          }
        }
      }
    }
  }
}